altgraph==0.17.2
auto-py-to-exe==2.11.0
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.15.0
click==8.0.3
colorama==0.4.4
cx-Freeze==6.11.1
cx-Logging==3.0
Eel==0.12.4
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
importlib-metadata==4.12.0
lief==0.12.1
packaging==21.3
pefile==2021.9.3
psutil==5.8.0
pycparser==2.21
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pyparsing==3.0.9
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
PyQtChart==5.15.5
PyQtChart-Qt5==5.15.2
python-dotenv==0.19.2
pywin32==302
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
whichcraft==0.6.1
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
